<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aloha.security6.mapper.UserMapper">

    <resultMap type="Users" id="userMap">
        
        <id property="no" column="no" />

        <result property="no" column="no" />
        <result property="username" column="username" />
        <result property="password" column="password" />
        <result property="name" column="name" />
        <result property="email" column="email" />
        <result property="enabled" column="enabled" />
        <result property="createdAt" column="createdAt" />
        <result property="updatedAt" column="updatedAt" />

        <collection property="authList" resultMap="authMap"></collection>
    </resultMap>

    <resultMap type="UserAuth" id="authMap">
        <result property="no" column="no" />
        <result property="username" column="username" />
        <result property="auth" column="auth" />
    </resultmap>

    <!-- 회원 조회 id -->
    <select id="select" resultMap="userMap">
        SELECT u.no
              ,u.username
              ,password
              ,name
              ,email
              ,enabled
              ,created_at
              ,updated_at
              ,auth
        FROM user u LEFT OUTER JOIN user_auth auth ON u.username = auth.username
        WHERE u.username = #{username}
    </select>
    <!-- LEFT OUTER JOIN 하는 이유 
        1. 권한이 없는 회원도 로그인/조회는 할 수 있어야 함
        - Inner Join 을 썼다면 user 테이블과 user_auth 테이블에 동시에 데이터가 있는 경우만 조회됨
        - 반면 LEFT OUTER JOIN을 사용시, 왼쪽 테이블인 user를 기준으로 데이터를 가져오기 때문에
          user 테이블에 회원이 존재하면, user_auth 테이블에 정보가 없더라도 회원정보가 무조건 조회되기 때문임

        2. 일 대 다 관계 데이터를 한 번에 가져오기 위함
        - 회원 한 명은 여러개의 권한을 가질 수 있음
        ex) user : 'passtal'
            auth : 'ROLE_USER', 'ROLE_ADMIN' .. 이건 아닌거 같은데?;;
    -->
    

    <!-- 회원 가입 -->
    <insert id="join">
        INSERT INTO user ( username, password, name, email )
        VALUES ( #{username}, #{password}, #{name}, #{email} )
    </insert>

    <!-- 회원 정보 수정 -->
    <update id="update">
        UPDATE user
           SET name = #{name}
              ,email = #{email}
              ,updated_at = now()
        WHERE username = #{username}
    </update>

    <!-- 회원 권한 등록 -->
    <insert id="insertAuth">
        INSERT INTO user_auth( username, auth )
        VALUES ( #{username}, #{auth} )
    </insert>

</mapper>